* {
    font-family: sans-serif;
    box-sizing: border-box;
  }
  
  div {
    border-style: dashed;
    padding-left: 35%;
    height: 70%;
  }
  input {
    margin-top: 1%;
    margin-bottom: 1%;
  }
  #levelText{
    height: 30%;
    width: 30%;
    overflow-x:hidden;
    overflow-y: scroll;
  }

  #endpointPopUp {
    box-sizing: border-box;
    background-color: #40b898;
    padding: 1% 5% 2% 5.75%;
    color: #e4f5f0;
    font-size: 2em;
    font-family: sans-serif;
    height: 20%;
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%,-50%);
    visibility: hidden;
  }
  
  