//- basicLevel.pug
html(lang='en')
  head 
    meta(charset='UTF-8')
    link(rel='shortcut icon' type='image/x-icon' href='../static/favicon.ico')
    title=name
    style
      include style.css
  body
    h1#levelName=name
    p#levelMaker level made by #{author} 
    #mainLevel
      p#levelText=levelText
      input#ansBox(type='text' name='answer' value='Answer')
      br
      button#submitButton(type='button' onclick='sendAns()') Submit
    #alert
    script
      include script.js


