//- basicLevel.pug
extends _layout.pug
block additionalHeadTags 
  link(rel='stylesheet' type="text/css" href='/style.css')
  title=name

block content
  h1(class="m-3")#levelName=name
  p(class="m-3")#levelMaker level made by #{author} 
  #mainLevel
    p#levelText=levelText
    input#ansBox(type='text' name='answer' placeholder='Answer')
    br
    button#submitButton(type='button' onclick='sendAns()') Submit
  #alert
  script(src="/script.js" type="text/javascript")


