//- fake.pug
html(lang='en')
  head 
    meta(charset='UTF-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel='shortcut icon' type='image/x-icon' href='../static/favicon.ico')
    title noTitleLol
    style
      include style.css
  body
    <!-- #{name}-->
    h1#levelName links &amp; src
    p#levelMaker level made by #{author} 
    #mainLevel
      p#levelText=levelText
      input#ansBox(type='text' name='answer' value='Answer')
      br
      button#submitButton(type='button' onclick='sendAns()') Submit
    #alert
    script
      include script.js


